.dashboard {
    padding: 24px;
}

.cardList {
    margin-top: 32px;
}

.card {
    text-align: center;
}

.iconUser {
    font-size: 200px;
    color: #1890ff;
    margin-bottom: 16px;
}

.iconMajor {
    font-size: 200px;
    color: #52c41a;
    margin-bottom: 16px;
}

.iconQuestion {
    font-size: 200px;
    color: #faad14;
    margin-bottom: 16px;
}